@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.cdd2container{
    padding:15px 3%;
    padding-bottom: 100px;
}

.cdd2container .cdd2heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.cdd2container .cdd2box-cdd2container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.cdd2container .cdd2box-cdd2container .cdd2box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #352f49;
    text-align: center;
    padding:30px 20px;

}

.cdd2container .cdd2box-cdd2container .cdd2box img{
    height: 250px;
    border-radius: 10px;
}

.cdd2container .cdd2box-cdd2container .cdd2box h3{
    color:white;
    font-size: 22px;
    padding:10px 0;
}

.cdd2container .cdd2box-cdd2container .cdd2box p{
    color: white;
    font-size: 15px;
    line-height: 1.8;
}

.cdd2container .cdd2box-cdd2container .cdd2box .cdd2btn{
    margin-top: 10px;
    display: inline-block;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.cdd2container .cdd2box-cdd2container .cdd2box .cdd2btn:hover{
    letter-spacing: 1px;
}

.cdd2container .cdd2box-cdd2container .cdd2box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .cdd2container{
        padding:20px;
    }
}
  

  

  
  /* Add more button styles as needed */
  @keyframes motionAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .motion-button {
    animation: motionAnimation 1s infinite;
  }